:root
{
    --main-colour: #488FB0;
    --background: #E3E3E3;
    --text-border: white;
    
    --OG-blue: #488FB0;
}

body
{
    background-color: var(--background);
    text-align: center;
}
.title
{
    font-family: Helvetica;
    color: var(--main-colour);
    font-size: 35px;
}
.button
{
    background-color: var(--main-colour);
    margin: 5px;
    padding: 10px 20px;
    color: var(--text-border);
    display: inline-block;
    font-size: 16px;
}
.form
{
    box-sizing: border-box;
    width: 200px;
    background-color: var(--main-colour);
    padding: 3px;
    border: 3px solid var(--text-border);
    margin: 0 auto;
}
.radio-label
{
    color: var(--text-border);
    font-family: sans-serif;
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
}
.header
{
    font-family: Arial;
    font-size: 17px;
}
.endgame
{
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}
.letters
{
    background-color: var(--main-colour);
    margin: 5px;
    border-radius: 8px;
    height: 30px;
    width: 30px;
    color: var(--text-border);
    display: inline-block;
    font-size: 16px;
}
#alphabet
{
    width: 400px;
    display: inline-block
}
#reset
{
    background-color: var(--main-colour);
    margin: 5px;
    padding: 10px 20px;
    color: var(--text-border);
    display: inline-block;
    font-size: 16px;
}


